App_WebReferences/CommunityAssistDonationServiceReference/DonorRegisterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DonorRegisterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1221/DonorRegisterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1221/DonorRegisterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1221/DonorRegisterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDonorRegisterService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IDonorRegisterService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IDonorRegisterService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDonorRegisterService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDonorRegisterService_Donate_InputMessage">
    <wsdl:part name="parameters" element="tns:Donate" />
  </wsdl:message>
  <wsdl:message name="IDonorRegisterService_Donate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DonateResponse" />
  </wsdl:message>
  <wsdl:portType name="IDonorRegisterService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IDonorRegisterService/Register" message="tns:IDonorRegisterService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDonorRegisterService/RegisterResponse" message="tns:IDonorRegisterService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDonorRegisterService/Login" message="tns:IDonorRegisterService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDonorRegisterService/LoginResponse" message="tns:IDonorRegisterService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Donate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDonorRegisterService/Donate" message="tns:IDonorRegisterService_Donate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDonorRegisterService/DonateResponse" message="tns:IDonorRegisterService_Donate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDonorRegisterService" type="tns:IDonorRegisterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IDonorRegisterService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDonorRegisterService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Donate">
      <soap:operation soapAction="http://tempuri.org/IDonorRegisterService/Donate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DonorRegisterService">
    <wsdl:port name="BasicHttpBinding_IDonorRegisterService" binding="tns:BasicHttpBinding_IDonorRegisterService">
      <soap:address location="http://localhost:1221/DonorRegisterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>